html {
    background-color: #1eccfe;
}

h1{
    text-align: center;
    color: white;
}

span{
    display: inline-block;
}

body{
    background-color: #1eccfe;
}

@media(max-width: 600px){
    .cat_image #cat{
        height: 1em;
        width: 1em;
    }
    #banner{
        font-size: small;
    }
}

.cat_image{
    background-color: #1eccfe;
}

.memes{
    display: flex;
}

.column{
    flex: 25%;
    padding: 15px;
    height: 300px;
    width: 200px;
    border-radius: 25%;
}

.links{
    margin-left: 35%;
    width: 75%;
}

.link{
    flex: 25%;
    padding: 35px;
    height: 115px;
    width: 115px;
    background-color: #1eccfe;
    border-radius: 50%;
}

.peralta-regular {
    font-family: "Peralta", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center; 
    padding-top: 100px;
    font-size: 5em; 
    color: white; 
    background-color: #1eccfe;
  }
  

#S{
    transform: translate(13px,60px) rotate(-25deg);
}

#E{
    transform: translate(6px, 40px) rotate(-20deg);
}

#N{
    transform: translate(3px, 23px) rotate(-15deg);
}

#D{
    transform: translate(2px, 14px) rotate(-10deg);
}

#I{
    transform: translate(0px, 8px) rotate(0deg);
}

#T{
    transform: translate(-2px, 14px) rotate(10deg);
}

#C{
    transform: translate(-3px,23px) rotate(15deg);
}

#T1{
    transform: translate(-6px, 40px) rotate(20deg);
}

#O{
    transform: translate(-13px, 60px) rotate(25deg);
}

#lore{
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
}

#SendItMemes{
    background-color: #1eccfe;
    margin-left: 50%;
}

#CA{
    text-align: center;
    font-size: large;
    padding-bottom: 100px;
}

#cat{
    height: 600px;
    width:600px;
    margin-left: 30%;
}