html {
    background-color: #1eccfe;
}

h1{
    text-align: center;
    color: white;
}

span{
    display: inline-block;
}

body{
    background-color: #1eccfe;
}

.cat_image{
    background-color: #1eccfe;
}

.cat_image p{
    float: inline-end;
}

.memes{
    display: flex;
}

.column{
    flex: 25%;
    padding: 15px;
    height: 300px;
    width: 200px;
    border-radius: 25%;
}

.links{
    margin-left: 35%;
    width: 75%;
}

.link{
    flex: 25%;
    padding: 35px;
    height: 115px;
    width: 115px;
    background-color: #1eccfe;
    border-radius: 50%;
}

#S{
    transform: translate(13px,60px) rotate(-25deg);
}

#E{
    transform: translate(6px, 40px) rotate(-20deg);
}

#N{
    transform: translate(3px, 23px) rotate(-15deg);
}

#D{
    transform: translate(2px, 14px) rotate(-10deg);
}

#I{
    transform: translate(0px, 8px) rotate(-5deg);
}

#T{
    transform: translate(0px, 8px) rotate(5deg);
}

#C{
    transform: translate(-2px,14px) rotate(10deg);
}

#T1{
    transform: translate(-3px, 23px) rotate(15deg);
}

#O{
    transform: translate(-6px, 40px) rotate(20deg);
}

#lore{
    position: absolute;
    width: 200px;
    top: 50%;
    right: 20%;
    color: white;
}

#SendItMemes{
    background-color: #1eccfe;
    margin-left: 50%;
}


#cat{
    height: 600px;
    width:600px;
    margin-left: 30%;
}